<!DOCTYPE html>
<html>
<head>
    <title>Login Successful</title>
</head>
<body>
    <h1>Login Successful</h1>
    <h2>Profile Data</h2>
    <p>Username: {{username}}</p>
    <p>Rol: {{rol}}</p>
     <p>All attributes: {{attributes}}</p><br><br>
    <a href="/logout">local logout</a>
</body>
</html>
